<?xml version="1.0" encoding="UTF-8"?>
<Configuration>
    <Properties>
        <property
                name="pattern_console">%d{HH:mm:ss} [%t] %-5level %logger{1} - %msg%n
        </property>
    </Properties>
    <Appenders>
        <Console name="console">
            <PatternLayout pattern="${pattern_console}"/>
        </Console>
    </Appenders>
    <Loggers>
        <Root level="info">
            <AppenderRef ref="console"/>
        </Root>
    </Loggers>
</Configuration>